Project(Sdk="Microsoft.NET.Sdk")

  PropertyGroup

    OutputType Library
    TargetFramework net35
    GenerateAssembyInfo false

  ItemGroup

    Reference(Include="System.Web.Extensions")
    Reference(Include="System.Windows.Forms")